.rb-tag-multi-select-input {
  position: relative;
  border: $input-border-width solid $input-border-color;
  border-radius: $input-border-radius;

  .form-control {
    border: unset;
  }

  .form-control:focus {
    box-shadow: unset;
  }

  .options {
    position: absolute;
    top: calc(1.5em + 0.75rem + 2px);
  }

  .selected-items {
    padding: 0 5px 2px 5px;
  }

  .remove-btn {
    padding: 0;
    border: none;
  }

  .rb-tag {
    vertical-align: middle;
  }

  &.is-invalid {
    border: $input-border-width solid $form-feedback-invalid-color;
  }

  &.is-valid {
    border: $input-border-width solid $form-feedback-valid-color;
  }
}

.rb-tag-multi-select-input-focused {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
