@include media-breakpoint-down(sm) {
  .rb-period-selection-modal-frame {
    form {
      .rb-left, .rb-right {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .rb-title {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }
}

.rb-period-selection-modal-frame {
  .modal-dialog {
    max-width: $rb-period-selection-modal-frame-modal-max-width;
  }

  form {
    .rb-title {
      width: 100%;
      font-weight: $rb-period-selection-modal-frame-date-input-label-font-weight;
      font-size: $rb-period-selection-modal-frame-date-input-label-font-size;
      margin-bottom: $rb-period-selection-modal-frame-date-input-label-margin-bottom;
    }

    .rb-date-input {
      width: $rb-period-selection-modal-frame-date-input-width;
    }
  }
}
