.rb-date-picker-input {
  .btn-light-outline {
    background-color: $rb-date-picker-input-button-bg;
    border: $rb-date-picker-input-border-width solid $rb-date-picker-input-border-color;
  }

  &.was-validated &:invalid, &.is-invalid {
    .btn {
      border-color: $form-feedback-invalid-color;
      border-left: $rb-date-picker-input-border-left-width solid $rb-date-picker-input-border-color;
    }
  }

  &.was-validated &:valid, &.is-valid {
    .btn {
      border-color: $form-feedback-valid-color;
      border-left: $rb-date-picker-input-border-left-width solid $rb-date-picker-input-border-color;
    }
  }

  &.disabled {
    .btn {
      border-left: $rb-date-picker-input-border-left-width solid $rb-date-picker-input-border-color;
    }
  }
}
