.rb-single-option-input {
  white-space: nowrap;

  &.rb-bordered .btn {
    border: $rb-single-option-input-border-width solid $rb-single-option-input-border-color;
  }

  &.is-invalid .btn, &.rb-bordered.is-invalid .btn {
    border: $rb-single-option-input-border-width solid $form-feedback-invalid-color;
  }

  &.is-valid .btn, &.rb-bordered.is-valid .btn {
    border: $rb-single-option-input-border-width solid $form-feedback-valid-color;
  }
}
