$rb-multi-select-input-primary-color: $body-color;
$rb-multi-select-input-secondary-color: lighten($rb-multi-select-input-primary-color, 30%);

.rb-multiselect-input {
  background-color: white;
  min-height: 30px;
  height: 30px;

  &.rb-bordered {
    border: $dropdown-border-width solid $dropdown-border-color;
    border-radius: $dropdown-border-radius;

    .multiselect__tags {
      border: none;
    }
  }

  .multiselect__tags {
    min-height: 30px;
    height: 30px;
    padding: 5px 40px 0 8px;

    .multiselect__placeholder {
      display: none;
    }

    .multiselect__spinner {
      top: 0;
      height: 30px;
    }

    .multiselect__single {
      margin: unset;
      padding: unset;
      white-space: nowrap;
    }

    .multiselect__input {
      width: 100% !important;
      position: unset !important;
      padding: unset !important;
    }

    .multiselect__input::placeholder {
      color: $rb-multi-select-input-secondary-color;
    }

  }

  .multiselect__input, .multiselect__single {
    font-family: inherit;
    font-size: 14px;
    touch-action: manipulation;
    padding: unset;
  }

  .b-dropdown {
    position: absolute;
    right: 3px;
    padding: 5px;
    width: 35px !important;

    .dropdown-menu {
      left: 35px;
      font-size: 14px;
    }

    table {
      width: 100%;
    }

    .b-dropdown-row {
      display: table-row;
      height: 32px;

      td {
        padding: 3px 5px 3px 5px;
      }

      .b-dropdown-row-title {
        white-space: nowrap;
        padding-left: 10px;
        width: 100%;

      }

      .b-dropdown-row-button {
        float: right;
        min-width: 35px;
        min-height: 32px;
      }

      .remove-btn {
        display: none;
      }
    }

    .b-dropdown-row:hover {
      background-color: $table-hover-bg;

      .remove-btn {
        display: flex;
      }
    }

    .btn {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .multiselect__content-wrapper {
    width: unset;
    min-width: 100%;

    .multiselect__content {
      .multiselect__element {
        .multiselect__option--highlight {
          color: white;
          background-color: theme-color('primary');
        }

        .multiselect__option {
          font-size: $font-size-base;
          min-height: 30px;
          padding: 8px;
          white-space: nowrap;
        }
      }
    }

  }
}

.rb-multiselect-input.rb-bordered {
  min-height: 30px;
  height: 30px;

  .multiselect__tags {
    min-height: 30px;
    height: 30px;
  }
}

.multiselect--active:not(.multiselect--above):not(.has-options) .multiselect__current,
.multiselect--active:not(.multiselect--above):not(.has-options) .multiselect__input,
.multiselect--active:not(.multiselect--above):not(.has-options) .multiselect__tags {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.multiselect--above.multiselect--active:not(.has-options) .multiselect__current,
.multiselect--above.multiselect--active:not(.has-options) .multiselect__input,
.multiselect--above.multiselect--active:not(.has-options) .multiselect__tags {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
