.rb-color-dropdown-input {
  &.rb-bordered .btn {
    border: $rb-color-dropdown-input-border-width solid $rb-color-dropdown-input-border-color;
  }

  &.is-invalid .btn, &.rb-bordered.is-invalid .btn {
    border: $rb-color-dropdown-input-border-width solid $form-feedback-invalid-color;
  }

  &.is-valid .btn, &.rb-bordered.is-valid .btn {
    border: $rb-color-dropdown-input-border-width solid $form-feedback-valid-color;
  }
}
