.rb-typeahead-input {
  display: block;

  .rb-typeahead-inner {
    position: relative;
  }

  .rb-typeahead-dropdown {
    min-width: 100%;
    position: absolute;

    &.rb-empty .dropdown-menu {
      border: none;
      padding: 0;
    }

    .dropdown-toggle {
      padding: 0;
      border: none;
    }

    .dropdown-menu {
      min-width: $rb-typeahead-input-dropdown-menu-min-width;
      max-height: $rb-typeahead-input-dropdown-menu-max-height;
      overflow: hidden scroll;
      li.rb-current .dropdown-item {
        font-weight: bold;
      }
    }
  }


}
