.rb-list-group-input {
  &.is-invalid .list-group-item{
    border-color: $form-feedback-invalid-color;
  }

  &.is-valid .list-group-item{
    border-color: $form-feedback-valid-color;
  }

  .list-group-item:hover:not(.active) {
    background-color: $rb-list-group-input-item-hover-bg;
    cursor: pointer;
  }
}
