$rb-boolean-button-input-invalid-border-color: $form-feedback-invalid-color;
$rb-boolean-button-input-valid-border-color: $form-feedback-valid-color;

.rb-boolean-button-input {
  &.rb-bordered {
    border: $rb-boolean-button-input-border-width solid $rb-boolean-button-input-border-color;
    border-radius: $rb-boolean-button-input-border-radius;
  }

  &.is-invalid, &.rb-bordered.is-invalid {
    border: $rb-boolean-button-input-border-width solid $rb-boolean-button-input-invalid-border-color;
  }

  &.is-valid, &.rb-bordered.is-valid {
    border: $rb-boolean-button-input-border-width solid $rb-boolean-button-input-valid-border-color;
  }

  &.rb-flex {
    flex: 1;
  }
}
