.rb-multi-phone-input {
  position: relative;

  .remove-btn-wrapper {
    position: absolute;
    right: 3px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .remove-btn {
      display: none;
    }

    .remove-btn:hover {
      background-color: $rb-secondary-text-color;
    }
  }
}

.rb-multi-phone-input:hover {
  .remove-btn {
    display: flex;
  }
}
