.rb-empty-state {
  display: $rb-empty-state-display;
  align-items: $rb-empty-state-align-items;
  justify-content: $rb-empty-state-justify-content;
  text-align: $rb-empty-state-text-align;
  padding: $rb-empty-state-padding;
  height: $rb-empty-state-height;

  .rb-inner {
    display: $rb-empty-state-display;
    justify-content: $rb-empty-state-justify-content;
    align-items: $rb-empty-state-align-items;
    flex-direction: $rb-empty-state-flex-direction;
    gap: $rb-empty-state-gap;
  }

  .rb-main-icon {
    font-size: $rb-empty-state-main-icon-font-size;
  }

  .rb-title {
    font-size: $rb-empty-state-title-font-size;
    color: $rb-empty-state-title-color;
    margin: 0!important;
  }

  .rb-description {
    font-size: $rb-empty-state-description-font-size;
    color: $rb-empty-state-description-color;
    max-width: $rb-empty-state-max-width;
    margin: 0;
  }

  .rb-button {
    color: $rb-empty-state-button-text-color!important;
  }
}
