.rb-pagination {
  gap: $rb-pagination-gap;

  .input-group {
    background: $rb-pagination-page-bg;
    border-radius: $rb-pagination-page-radius;
  }

  .search-input {
    height: $rb-pagination-search-input-height;
    width: $rb-pagination-search-input-width;
    background: $rb-pagination-page-bg;
    border-radius: $rb-pagination-page-radius;
    border: none;
    // disabling input type numbers arrows
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &::placeholder {
      font-size: 14px;
    }
  }
  .page {
    background: $rb-pagination-page-bg;
    border-radius: $rb-pagination-page-radius
  }

  span {
    min-width: $rb-pagination-fixed-page-width-height;
    height: $rb-pagination-fixed-page-width-height;
    cursor: pointer;
    font-size: $rb-pagination-font-size;
    text-align: center;
    text--webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;

    &.active {
      color: $rb-pagination-active-page-color;
      background: unset;
      border: 1px solid $rb-pagination-active-page-color;
    }

    &.dots {
      pointer-events: none;
      color: $rb-pagination-dots-color;
    }
  }

  .rb-icon {
    font-size: $rb-pagination-icon-size;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: $primary;
    }

    &.disabled {
      color: $gray-500;
      pointer-events: none;
    }
  }

  .search {
    //width: $rb-pagination-fixed-page-width-height;
    //gap: $rb-pagination-gap;

    //.search-wrapper {
    //  display: flex;
    //  align-items: center;
    //  justify-content: center;
    //  left: $rb-pagination-search-wrapper-offset;
    //  width: $rb-pagination-input-width;
    //  background-color: $rb-pagination-search-background-color;
    //  input {
    //    width: 0;
    //    flex: 1;
    //    height: $rb-pagination-fixed-page-width-height;
    //    border: none;
    //    border-radius: $rb-pagination-input-border-radius;
    //    outline: $rb-pagination-input-outline;
    //    font-size: $rb-pagination-font-size;
    //
    //    // disabling input type numbers arrows
    //    &::-webkit-outer-spin-button,
    //    &::-webkit-inner-spin-button {
    //      -webkit-appearance: none;
    //      margin: 0;
    //    }
    //
    //    &::placeholder {
    //      font-size: 14px;
    //    }
    //
    //    &:invalid {
    //      border-bottom: $rb-pagination-input-invalid-border-width solid $rb-pagination-input-invalid-border-color;
    //    }
    //  }
    //
    //  .rb-icon {
    //    font-size: $rb-pagination-search-reset-icon-font-size;
    //    color: $rb-pagination-search-reset-icon-color;
    //  }
    //}
    //
    //&.active {
    //  overflow: visible;
    //  background-color: $rb-pagination-search-background-color;
    //}
  }

  &.busy {
    opacity: $rb-pagination-busy-opacity;
    pointer-events: none;
  }
}
