.rb-date-picker-input {
  .btn-light-outline {
    background-color: $rb-date-picker-input-button-bg;
    border-color: $rb-date-picker-input-border-color;
    border-left-width: $rb-date-picker-input-button-border-left-width;
  }

  &.disabled .btn {
    border-left-width: $rb-date-picker-input-button-border-left-width;
  }

  &.was-validated &:invalid, &.is-invalid {
    .btn {
      border-color: $form-feedback-invalid-color;
      border-left-width: $rb-date-picker-input-button-border-left-width;
    }
  }

  &.wax-validated &:valid, &.is-valid {
    .btn {
      border-color: $form-feedback-valid-color;
      border-left-width: $rb-date-picker-input-button-border-left-width;
    }
  }
}
