.rb-multi-lang-input {
  .rb-text-container {
    gap: $rb-multi-lang-input-gap;
  }

  .dropdown-menu {
    will-change: unset !important;
    transform: unset !important;
    width: 100%;
  }

  .b-dropdown{
    width: 100%;
    border-width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .dropdown-toggle{
    display: none;
  }

  .rb-text-primary {
    font-size: $rb-multi-lang-input-font-size;
    line-height: $rb-multi-lang-input-font-size;
  }

  .rb-text-secondary {
    font-size: $rb-multi-lang-input-font-size-sm;
    line-height: $rb-multi-lang-input-line-height-sm;
    color: $rb-multi-lang-input-text-secondary;
  }

  .rb-lang-type {
    color: theme-color('primary');
  }

  .rb-lang-text{
    max-width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  input {
    box-sizing: initial;
  }

  .btn, .form-control {
    border: none;
  }

  .btn {
    min-width: $rb-multi-lang-input-btn-width-min;
    border-top-right-radius: $rb-multi-lang-input-input-group-radius!important;
    border-bottom-right-radius: $rb-multi-lang-input-input-group-radius!important;
  }

  .input-group {
    border: $rb-multi-lang-input-border-width solid $input-border-color;
    border-radius: $rb-multi-lang-input-input-group-radius;

    &.is-valid{
      border: $rb-multi-lang-input-border-width solid $form-feedback-valid-color;
    }
    &.is-invalid{
      border: $rb-multi-lang-input-border-width solid $form-feedback-invalid-color;
    }
  }

  .dropdown-item {
    padding: $rb-multi-lang-input-dropdown-item-padding;
  }
}
