.rb-single-option-input {
  white-space: nowrap;

  &.w-100 {
    width: 100%;
  }

  & > button.btn:not(:last-child),
  &.is-invalid > button.btn:not(:last-child),
  &.is-valid > button.btn:not(:last-child),
  &.disabled > button.btn:not(:first-child) {
    border-right-width: $rb-single-option-border-between-width;
  }

  & > button.btn:not(:first-child),
  &.is-invalid > button.btn:not(:first-child),
  &.is-valid > button.btn:not(:first-child),
  &.disabled > button.btn:not(:first-child) {
    border-left-width: $rb-single-option-border-between-width;
  }

  & > button.btn:not(:first-child) {
    margin-left: -$rb-single-option-border-between-width;
  }

  &.rb-bordered .btn {
    border: $rb-single-option-input-border-width solid $rb-single-option-input-border-color;
  }

  &.is-invalid .btn, &.rb-bordered.is-invalid .btn {
    border: $rb-single-option-input-border-width solid $form-feedback-invalid-color;
  }

  &.is-valid .btn, &.rb-bordered.is-valid .btn {
    border: $rb-single-option-input-border-width solid $form-feedback-valid-color;
  }
}
