.rb-multi-lang-input {
  .rb-text-container {
    gap: $rb-multi-lang-input-gap;
  }

  .dropdown-menu {
    min-width: $rb-multi-lang-input-dropdown-menu-width-min;
  }

  .rb-text-primary {
    font-size: $rb-multi-lang-input-font-size;
    line-height: $rb-multi-lang-input-font-size;
  }

  .rb-text-secondary {
    font-size: $rb-multi-lang-input-font-size-sm;
    line-height: $rb-multi-lang-input-line-height-sm;
    color: $rb-multi-lang-input-text-secondary;
  }

  .rb-lang-text {
    color: theme-color('primary');
  }

  input {
    box-sizing: initial;
  }

  .btn, .form-control {
    border: none;
  }

  .btn {
    min-width: $rb-multi-lang-input-btn-width-min;
  }

  .input-group {
    border: $rb-multi-lang-input-border-width solid transparent;
    border-radius: $rb-multi-lang-input-input-group-radius;
    border-color: $primary;

    &.is-valid{
      border-color: $form-feedback-valid-color;
    }
    &.is-invalid{
      border-color: $form-feedback-invalid-color;
    }
  }

  .dropdown-item {
    padding: $rb-multi-lang-input-dropdown-item-padding;
  }
}
