.rb-multi-typeahead-input {
  .rb-typeahead-inner {
    &::before {
      display: none;
      position: absolute;
      top: $rb-multi-typeahead-input-options-shower-position-top;
      left: $rb-multi-typeahead-input-options-shower-position-left;
      right: add($rb-multi-dropdown-input-counter-min-width, 2 * $rb-multi-dropdown-input-counter-margin-right);
      height: fit-content;
      text-overflow: ellipsis;
      overflow: hidden;
      background-color: $rb-multi-typeahead-input-options-shower-bg;
      content: attr(data-text);
      white-space: nowrap;
      cursor: text;
    }

    &.disabled {
      &::before{
        background-color: $input-disabled-bg;
      }
    }

    &:focus-within:not(button)::before{
      display: none;
    }

    .form-control {
      padding-right: add($rb-multi-dropdown-input-counter-min-width, 2 * $rb-multi-dropdown-input-counter-margin-right);
    }

    &.active{
      &::before{
        display: block;
      }
    }

  }
  .rb-counter-dropdown {
    position: absolute;
    top: 0;
    right: 0;

    .dropdown-toggle {
      padding-left: 0;
      padding-right: 0;
      flex: none;
      margin-left: auto;

      &:focus,
      &:active,
      &:hover {
        outline: 0 !important;
        -webkit-appearance: none;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
    .dropdown-menu {
      width: $rb-multi-dropdown-input-dropdown-width;

      .dropdown-item {
        display: flex;
        align-items: center;
        padding-right: 10px;

        .rb-text {
          flex: 1;
        }

        .btn {
          padding: 3px;

          .rb-icon {
            color: lighten($body-color, 50%);
          }

          &:hover .rb-icon {
            color: $body-color;
          }
        }
      }
    }

    .rb-counter {
      display: inline-block;
      color: $rb-multi-dropdown-input-counter-color;
      height: $rb-multi-dropdown-input-counter-height;
      min-width: $rb-multi-dropdown-input-counter-min-width;
      background-color: $rb-multi-dropdown-input-counter-bg;
      border-radius: $rb-multi-dropdown-input-counter-border-radius;
      text-align: center;
      line-height: $rb-multi-dropdown-input-counter-line-height;
      margin-right: $rb-multi-dropdown-input-counter-margin-right;
    }
  }
}
