
.icon-arrow-down:before { content: '\e801'; } /* '' */
.icon-arrow-up:before { content: '\e802'; } /* '' */
.icon-arrow-right:before { content: '\e803'; } /* '' */
.icon-arrow-left:before { content: '\e805'; } /* '' */
.icon-dots-vertical:before { content: '\e80a'; } /* '' */
.icon-pencil:before { content: '\e80b'; } /* '' */
.icon-menu:before { content: '\e817'; } /* '' */
.icon-chevron-up:before { content: '\e81e'; } /* '' */
.icon-chevron-right:before { content: '\e81f'; } /* '' */
.icon-chevron-left:before { content: '\e820'; } /* '' */
.icon-chevron-down:before { content: '\e821'; } /* '' */
.icon-check:before { content: '\e822'; } /* '' */
.icon-menu-up:before { content: '\e823'; } /* '' */
.icon-menu-right:before { content: '\e824'; } /* '' */
.icon-menu-left:before { content: '\e825'; } /* '' */
.icon-menu-down:before { content: '\e826'; } /* '' */
.icon-delete:before { content: '\e82a'; } /* '' */
.icon-window-close:before { content: '\e82d'; } /* '' */
.icon-chevron-double-left:before { content: '\e82f'; } /* '' */
.icon-chevron-double-right:before { content: '\e830'; } /* '' */
.icon-paperclip:before { content: '\e833'; } /* '' */
.icon-magnify:before { content: '\e834'; } /* '' */
.icon-minus:before { content: '\e835'; } /* '' */
.icon-plus:before { content: '\e836'; } /* '' */
.icon-checkbox-marked:before { content: '\e838'; } /* '' */
.icon-checkbox-blank-outline:before { content: '\e839'; } /* '' */
.icon-close:before { content: '\e841'; } /* '' */
.icon-block-helper:before { content: '\f1a3'; } /* '' */
.icon-calendar:before { content: '\f1e3'; } /* '' */
.icon-chevron-double-down:before { content: '\f232'; } /* '' */
.icon-chevron-double-up:before { content: '\f235'; } /* '' */
.icon-close-circle:before { content: '\f24f'; } /* '' */
.icon-record:before { content: '\f539'; } /* '' */
.icon-refresh:before { content: '\f53f'; } /* '' */
