
.icon-chevron-right:before { content: '\e81f'; } /* '' */
.icon-chevron-left:before { content: '\e820'; } /* '' */
.icon-chevron-double-left:before { content: '\e82f'; } /* '' */
.icon-chevron-double-right:before { content: '\e830'; } /* '' */
.icon-search:before { content: '\e834'; } /* '' */
.icon-checkbox-marked:before { content: '\e838'; } /* '' */
.icon-checkbox-blank-outline:before { content: '\e839'; } /* '' */
.icon-close:before { content: '\e841'; } /* '' */
.icon-none:before { content: '\f1a3'; } /* '' */
.icon-circle-small:before { content: '\f539'; } /* '' */
